p, ul, li, a, h1, h2, h3, h4, h5, h6 {
    max-width: 70rem;
}

.header {
    display: block;
}

#headermain {
    font-size: 0.9em;
}

.column.third {
    width: 100%;
}

.navigation {
    display: none;
}

.column.half {
    width: auto;
}

.sd-half {
    width: -ms-calc(50% - 16px);
    width: -moz-calc(50% - 16px);
    width: -webkit-calc(50% - 16px);
    width: calc(50% - 16px);
    display: inline-block;
    float: none;
}

.title, .screen {
    display: none;
}
