* {
    font-family: 'Open Sans Condensed', sans-serif;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    padding-top: 3em;
}

#headermain {
    font-size: 1.375em;
}

#subheader {
    font-size: 1em;
}

.navigation {
    padding-top: 2%;
}

a {
    text-decoration: none;
    color: #222;
    font-family: 'Open Sans Condensed Bold', sans-serif;
}

.row {
    clear: both;
    width: 100%;
}

.column.half {
    width: 50%;
    float: left;
    padding-left: 3%;
}

.column.two-thirds {
    width: 66.7%;
    float: left;
}

.column.third {
    width: 33.3%;
    float: left;
    padding-left: 4%;
}

.gallery-grid {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    padding: 8px;
}

.one-third {
    width: -ms-calc(33.3333% - 16px);
    width: -moz-calc(33.3333% - 16px);
    width: -webkit-calc(33.3333% - 16px);
    width: calc(33.3333% - 16px);
    margin: 4px;
    height: auto;
    position: relative;
    float: left;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.gallery-grid a {
    display: block;
}

.screen {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    border-radius: 0;
    height: 38%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.screen:hover {
    opacity: 1;
}

.title {
    color: #fff;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: -30px;
}

.screen:hover .title {
    margin-left: 0;
}

p {
    font-size: 2em;
    padding: 5%;
}

.screen.fade-in .title {
    margin-left: 0;
}

.column.half p {
    font-size: 1.2em;
    padding: 0px;
}

footer {
    clear: both;
}

.footer {
    position: relative;
    left: 30%;
}
