<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>BootCamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="assets/stylesheets/main.css">
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <link rel="stylesheet" media="screen and (max-width: 700px)" href="assets/stylesheets/narrow.css">
  <link rel='stylesheet' media="screen and (min-width: 701px) and (max-width: 900px)" href="assets/stylesheets/medium.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  <div class="container">
    <section>
      <div class="row">
        <div class="column third">
          <header id="headermain">
            <h1>Incredible Types</h1>
          </header>
        </div>
        <div class="column two-thirds">
          <nav class="navigation">
            <ul>
              <li><a href="#">Show menu</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="column third">
          <header id="subheader">
            <h1>Showcase</h1>
          </header>
        </div>
        <div class="column half">
          <p>
            Incredible Types is a curated collection and showcase of outstanding typography and design from around the world. We currently have 426 pieces of inspirational design in our showcase, from 432 creatives and studios from 51 different countries.
          </p>
          <p>Follow us on <a href="#">Twitter</a>, <a href="#">Facebook</a> and <a href="#">Pinterest</a> or subscribe to our <a href="#">RSS Feed</a></p>
        </div>
      </div>
    </section>
    <section>
      <div class="gallery-grid">
        <div class="one-third sd-half">
          <article>
            <a href="#" target="_blank" title="web design manchester">
              <span class="screen">
                <p class="title">
                Here is a caption for this image
                </p>
              </span>
              <img src="assets/images/layout-1.png" alt="image 1">
            </a>
          </article>
        </div>
        <div class="one-third sd-half">
          <article>
            <a href="#" target="_blank" title="web design manchester">
              <span class="screen">
            <p class="title">
            Here is a caption for this image
            </p>
            </span>
              <img src="assets/images/layout-2.png" alt="image 1">
            </a>
          </article>
        </div>
        <div class="one-third sd-half">
          <article>
            <a href="#" target="_blank" title="web design manchester">
              <span class="screen">
            <p class="title">
            Here is a caption for this image
            </p>
            </span>
              <img src="assets/images/layout-3.png" alt="image 1">
            </a>
          </article>
        </div>
        <div class="one-third sd-half">
          <article>
            <a href="#" target="_blank" title="web design manchester">
              <span class="screen">
            <p class="title">
            Here is a caption for this image
            </p>
            </span>
              <img src="assets/images/layout-4.png" alt="image 1">
            </a>
          </article>
        </div>
        <div class="one-third sd-half">
          <article>
            <a href="#" target="_blank" title="web design manchester">
              <span class="screen">
            <p class="title">
            Here is a caption for this image
            </p>
            </span>
              <img src="assets/images/layout-5.png" alt="image 1">
            </a>
          </article>
        </div>
        <div class="one-third sd-half">
          <article>
            <a href="#" target="_blank" title="web design manchester">
              <span class="screen">
            <p class="title">
            Here is a caption for this image
            </p>
            </span>
              <img src="assets/images/layout-6.png" alt="image 1">
            </a>
          </article>
        </div>
      </div>

    </section>
    <footer>
      <div class="footer">
        <p>footer</p>
      </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function() {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
